{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                         <div class="article">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2>Bize Ulaşın</h2> <br />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12-offset" style="margin-bottom: '-10%'">
                                    <br/>
                                <p>
                                <b>Adres: </b>Bereketzade Mah. Okçumusa Cad. 13/8 Beyoğlu/İSTANBUL  
                                <br />
                                <b>Tel: </b> 0212 266 00 70
                                <br/><br/>
                                <b>Mail: </b><a href="mailto:egemen.cakir@cakirlegal.com" class="odeme"><i>egemen.cakir@cakirlegal.com</i></a>
                                </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    