{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                         <div class="article">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2>Bize Ulaşın</h2> <br />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12-offset" style="margin-bottom: '-10%'">
                                    <br/>
                                <p style="margin-bottom: 10%">
                                <b>Adres: </b>Bereketzade Mah. Okçumusa Cad. 13/8 Beyoğlu/İSTANBUL  
                                <br />
                                <b>Tel: </b> 0212 266 00 70
                                <br/><br/>
                                <b>Mail: </b><a href="mailto:egemen@cakirlegal.com" class="odeme"><i>egemen@cakirlegal.com</i></a>
                                </p>
                                </div>
                            
                             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.9427689370377!2d28.96964131480106!3d41.026508026252785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9e6f4c87465%3A0x81c4907cb1f8477f!2sBereketzade%2C%20Ok%C3%A7u%20Musa%20Cd.%20No%3A13%2C%2034421%20Beyo%C4%9Flu%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1586466653828!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    