{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                         <div class="article">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2>Burs Başvurusu</h2> <br />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12-offset" style="margin-bottom: '-10%'">
                                    <br/>
                               <p>
                                Çakır Hukuk Bürosu olarak ülkemizin gençlerinin öğrenim hayatlarına destek olma adına burs imkanı tanımaktayız.
                                <br />
                                Burs başvurusuna ilişkin açıklayıcı bir mail ile özgeçmişlerin paylaşılması gerekmektedir. <br /><br />
                                <b>Mail: </b><a href="mailto:egemen@cakirlegal.com" class="odeme"><i>egemen@cakirlegal.com</i></a>
                                </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    