{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                         <div class="article">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2>VEKALET BİLGİLERİ</h2> <br />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12-offset" style="margin-bottom: '-10%'">
                                    <br/>
                                 <p>
                                Vekaletname bilgileri büro tarafından talep edilmesi ile paylaşılacaktır.
                                </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    