{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                        <div class="article">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h2>Basın ve Medyada Biz</h2>
                            <br/>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    