{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                        <div class="article">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h2>EKİBİMİZ</h2>
                            <br/>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12-offset" align="center">
                                <div class="cardd">
                                  <div class="card-body">
                                    <br />
                                    <h4 class="card-title">İzel ÇAKIR</h4>
                                    <a href="mailto:izel@cakirlegal.com" class="btn-iletisim">izel@cakirlegal.com</a>
                                  </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12-offset" align="center">
                                <div class="cardd">
                                  <div class="card-body">
                                    <br />
                                    <h4 class="card-title">Egemen ÇAKIR</h4>
                                    <a href="mailto:egemen@cakirlegal.com" class="btn-iletisim">egemen@cakirlegal.com</a>
                                  </div>
                                </div>
                        </div>
                        <!--<div class="col-md-6 col-sm-6 col-xs-12-offset" align="center">
                                <div class="cardd wow slideInLeft">
                                  <div class="card-body">
                                    <br />
                                    <h4 class="card-title"></h4>
                                    <a href="mailto:@cakirlegal.com" class="btn-iletisim">@cakirlegal.com</a>
                                  </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12-offset" align="center">
                                <div class="cardd wow slideInRight">
                                  <div class="card-body">
                                    <br />
                                    <h4 class="card-title"></h4>
                                    <a href="mailto:@cakirlegal.com" class="btn-iletisim">@cakirlegal.com</a>
                                  </div>
                                </div>
                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    