{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
            <div class="anasayfa-grid">
                <div class="col-md-12">
                    <div class="article">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>HAKKIMIZDA</h2><br/>
                        </div>
                        <div class="col-md-12 col-sm-12-offset col-xs-12-offset">
                        <br />
                        <p>
                            Avukat Egemen ÇAKIR tarafından 2014 yılında İstanbul’da kurulmuş olan Çakır Avukatlık ve Danışmanlık bürosu yerli ve yabancı müvekkillerine dava, danışmanlık ve önleyici hukuk hizmetleri konusunda hizmet vermektedir. Ofisimiz müvekkillerine en kaliteli hizmeti sunmak amacıyla alanında uzman ve deneyimli meslek uzmanları ile çalışmaktadır. Hukuk büromuz çalışmalarında ve hizmetlerinde, müvekkil ve çözüm odaklı hareket edip, güvenilir ve şeffaf olmayı vazgeçilmez bir iş prensibi olarak addederek, tüm hukuki konularda hizmet vermektedir.
                                <br/><br/>
                            Yasal Uyarı: İnternet Sitesi Yalnızca Bilgi ve İletişim Amacıyla Kurulmuş Olup Bu İnternet Sitesi İçerisinde Yer Alan Hiçbir Bilgi Hukuki Tavsiye, Reklam ve İş Geliştirme amacı taşımamaktadır. Hazırlanan Site Türkiye Barolar Birliğinin Meslek Kurallarına ve Yürürlükteki Mevzuata Uygun Olarak Hazırlanmıştır. Sitede Bulunan Hiçbir Bilgi Hukuki Tavsiye Niteliği Taşımaz. Site İçerisinde yer alan tüm yazıların fikri hakkı tarafımıza ait olup izinsiz kullananlar, üzerinden değişiklikte bulunanlar hakkında yasal yollara başvurulacaktır.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
{% endblock %}
    