{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                        <div class="article">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <h2>ÖDEME BİLGİLERİ</h2> <br/>   
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12-offset">
                            <br/>
                            <p>
                            Ödeme Bilgileri hakkında büromuz ile doğrudan iletişime geçilmesi gerekmektedir.
                            <br /> <br />
                            <a href="https://pos.param.com.tr/Tahsilat/Default.aspx?k=e54cbbf5-f0ac-4a2f-9f16-8bd2bea132ae" class="odeme">
                            <i>https://pos.param.com.tr/Tahsilat/Default.aspx?k=e54cbbf5-f0ac-4a2f-9f16-8bd2bea132ae</i>
                            </a>
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    