{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
        <div class="container wow zoomIn"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                        <div class="article">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <h2>SOSYAL SORUMLULUK</h2> <br/>   
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12-offset">
                            <br/>
                            <p>
                            Kazanmış olduğumuz her vekaletname ücretinin belirli bir kısmı evsizlik sorunu ve evsiz kişilerin topluma yeniden kazandırılması adına çalışmalarda bulunan Çorbada Tuzun Olsun Derneğine ve Sokak Hayvanlarına bağış yoluyla aktarılmaktadır.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
    