
       
        <div class="container wow slideInLeft"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                        <div class="article" style="margin-top: 5%; margin-bottom: 10%">
                            <div class="col-md-12 col-sm-12-offset col-xs-12-offset">
                                    <div class="social">
                                        <ul class="social-icons">
                                            <li class="wow zoomIn"><a href="#"><img src='https://image.flaticon.com/icons/svg/733/733641.svg' /></a></li>
                                            <li class="wow zoomIn"><a href="#"><img src='https://image.flaticon.com/icons/svg/1384/1384005.svg' /></a></li>
                                            <li class="wow zoomIn"><a href="#"><img src='https://image.flaticon.com/icons/svg/733/733635.svg' /></a></li>
                                            <li class="wow zoomIn"><a href="#"><img src='https://image.flaticon.com/icons/svg/1384/1384014.svg' /></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-md-offset-3 col-sm-12 col-sm-offset-3 col-xs-12 col-xs-offset-3">
                                    <div id="copyright">
                                        <p>Copyright &copy; 2020 <a href="#"> - Erazilek</a></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>