{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
          <div class="container-fluid"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                        
                        
                        <div class="general">
                            <div class="container" >
                                <div class="row" style="margin-bottom: 10%">
                                     <br />
                                    <div class="col-md-12 col-sm-12 col-xs-12 baslik wow zoomIn">
                                        <i><h2> ÇAKIR LEGAL AVUKATLIK VE DANIŞMANLIK HUKUK BÜROSU </h2></i> 
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                            <div class="article" id="accordionExample">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h2>FAALİYET ALANLARIMIZ</h2>
                                    <br/>
                                </div>
                                    <div class="col-md-7">
                                      <div class="card">
                                        <div class="card-header" id="headingTwo">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              KEFALET VE KOOPERATİF İŞLEMLERİ
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Kurum Alacaklarına Yönelik Takip İşlemleri</li>
                                                <li>İpoteğin Paraya Çevrilmesi</li>
                                                <li>Fiili Haciz Ve Satış İşlemleri</li>
                                                <li>Borçlu Üyelere İlişkin İcra Önleyici Çalışma</li>
                                                <li>Kuruma Özel Geliştirilen Bilgisayar Programı İle Üyelerin Takibi</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="card">
                                        <div class="card-header" id="headingThree">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              TÜKETİCİ HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                          <div class="card-body">
                                          <ol class="ol-class">
                                                <li>Şirketlerin Tüketici Davalarının Takibi</li>
                                                <li>Gizli Ayıp, Ayıplı Mal, Ayıplı Hizmet Ve Kullanıcı Hatası Davalarının Takibi</li>
                                                <li>Tüketici Şikayetleri Konusunda Yasal Takip Ve Davaların Yapılması</li>
                                                <li>Tüketici Hakem Heyeti Başvuru Ve Takibi</li>
                                                <li>Araç Değer Kaybı İşlemlerinin Yasal Takibi</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                             
                                     <div class="col-md-7">
                                        <div class="card">
                                        <div class="card-header" id="headingFour">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                              ESNAF ODALARI TAHSİL VE DANIŞMANLIK
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                          <div class="card-body">
                                            <ol class="ol-class">
                                                <li>Borçlu Üyelere İlişkin Bildirim Ve Danışmanlık Hizmetleri</li>
                                                <li>İcra Takibi Yolu İle Kurum Üye Aidatlarının Tahsili</li>
                                                <li>İdari Başvuru Ve Takiplerin Yapılması</li>
                                                <li>Düzenli Danışmanlık  </li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                              GAYRİMENKUL HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                               <li>Yabancıların Mülk Edinmesi Konusunda Danışmanlık Hizmeti</li>
                                                <li>Alım-Satım, Ön Alım, Karz Sözleşmerinin Hazırlanması Ve Hukuki Denetimi</li>
                                                <li>Tapu İşlemlerinin Yasal Takibi</li>
                                                <li>Kiralama Sözleşmelerinin Yapılması</li>
                                                <li>Miras, Tereke Ve İntikal İşlerinin Yasal Takibi</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                      </div>

                                    <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                              ŞİRKETLER VE TİCARET HUKUK DANIŞMANLIK
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Şirket Kuruluş Ve Düzenleyici İşlemlerinin Yapılması</li>
                                                <li>Kamu Kurumları Huzurunda Şirketin Temsili</li>
                                                <li>Şirketlerin Genel Kurul İşlemlerinin Yapılması</li>
                                                <li>Şirket Hisse Satış Ve Devir İşlemleri</li>
                                                <li>Şirket Hissedarları Arasındaki Hukuki İhtilafların Çözümü</li>
                                                <li>İş Sözleşmelerinin Hazırlanması</li>
                                                <li>Franchise Sözleşmelerinin Hazırlanarak Marka Başvurularının Yapılması</li>
                                                <li>Düzenli Danışmanlık Hizmetleri</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                              BASIN VE MEDYA HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Tekzip Ve Tüm Düzeltme Taleplerinin Yasal Takibi</li>
                                                <li>Basın Ve Medya Yolu İle İşlenen Suçların Cezai Ve Yasal Yollarla Takibinin Yapılması</li>
                                                <li>Reklam, Sponsorluk, Menajerlik, Oyuncu Gibi Şirketin İhtiyacına Uygun Sözleşmelerin Hazırlanması,</li>
                                                <li>Rtük Ve İdari Merciler Huzurunda Yasal Takipler</li>
                                                <li>Sosyal Medya Üzerinden Kişilik Hakları Saldırıya Uğrayanlara İlişkin Hukuki Yardım İşlemleri</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
            
                            
                                     <div class="col-md-7">
                                     <div class="card">
                                        <div class="card-header" id="headingEight">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                              İDARE VE VERGİ HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Şirket Ve Kurumların Tam Yargı Ve İptal Davalarının Takibi</li>
                                                <li>Kamulaştırma Davalarının Takibi</li>
                                                <li>İdare Ve Kişiler Arasında Yasal Problemlerin Çözümüne İlişkin Yasal Takip İşlemleri</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                     </div>
            
                    
                                    <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" id="headingNine">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                              AİLE HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Boşanma Davalarının Yürütülmesi</li>
                                                <li>Anlaşmalı Boşanma Protokollerinin Hazırlanması Ve Yürütülmesi</li>
                                                <li>Nafaka Arttırım-Azaltım Ve Takibine İlişkin Dava Ve Yasal İşlemlerin Takibi</li>
                                                <li>Boşanmadan Doğan Mal Varlığının Tasfiyesi İşlemlerinin Yürütülmesi</li>
                                                <li>Evlat Edinmeden Kaynaklanan Sorunların Çözümü</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
            
            
            
                                    <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-header" id="headingTen">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                              YABANCILAR VE VATANDAŞLIK HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Türkiye’de yaşamak isteyen yabancıların oturma izni başvurularının yapılması takibinin sağlanması ve uzatım işlemlerinin yapılması</li>
                                                <li>Gerçek ve Tüzel Kişilerin Mülk Edinimleri Hakkındaki İşlemlerin Yasal Takibi</li>
                                                <li>Türk Vatandaşlığını Kazanmak isteyen Yabancıların Vatandaşlık Başvuru İşlemlerinin Yapılması, Takibi ve Sonuçlandırılması</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
            
                
            
                                 <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" id="headingEleven">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                              MİRAS HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Vasiyetname Hazırlanması</li>
                                                <li>Ölünceye Kadar Bakma Sözleşmesi Hazırlanması</li>
                                                <li>Mirasın Reddi Davası</li>
                                                <li>Treke Tespit Davası</li>
                                                <li>Ortaklığın Giderilmesi Davası</li>
                                                <li>Ecrimisil Davası</li>
                                                <li>Vakıf Kurma Ve Ölüme Bağlı Tasarruflar</li>
                                                <li>Muris Muvazaası Davası</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

            
            
                                 <div class="col-md-7">        
                                    <div class="card">
                                        <div class="card-header" id="headingTwelwe">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseTwelwe" aria-expanded="false" aria-controls="collapseTwelwe">
                                              SÖZLEŞME DANIŞMANLIĞI
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseTwelwe" class="collapse" aria-labelledby="headingTwelwe" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Müvekkil Talebi Yönünde İhtiyaca Dönük Dokümanların Hazırlanması</li>
                                                <li>Hizmet Ve Satın Alma Sözleşmelerinin Hazırlanması</li>
                                                <li>Bayilik Ve Franchise Sözleşmelerinin Hazırlanması</li>
                                                <li>Lisanslar İle İlgili Anlaşmaların Hazırlanması</li>
                                                <li>İşe Alım İle İlgili Anlaşmaların İmzalanması</li>
                                                <li>Şirket Sözleşmelerin Kişisel Verilerin Korunması Ve Saklanması Kanunu Çerçevesinde Yerinden Düzenlenmesi</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

            
            
                                 <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" id="headingThirteen">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                              SPOR HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Sponsorluk Sözleşmesi</li>
                                                <li>Sporcu Ve Klüb Arasındaki Sözleşmelerin Düzenlenmesi</li>
                                                <li>Sporcu Alacaklarının Yasal Takibi</li>
                                                <li>Yazılı Ve Görsel Basında Kişilik Haklarının Korunması</li>
                                                <li>CAS, FIFA, UEFA Nezdinde Sporcu Temsili</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

            
            
                                   <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-header" id="headingFourteen">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                              İCRA İFLAS ÇÖZÜMLERİ
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Alacakların Takibine Yönelik Takip İşlemlerinin Yapılması</li>
                                                <li>Fiili Haciz İşlemleri</li>
                                                <li>Sulh Ve İbra Protokollerinin Hazırlanması</li>
                                                <li>İcra Dosyası Bağı İle İlgili Ceza Dosyalarının Açılması Ve Takibi</li>
                                                <li>Borç Yapılandırmalarının İncelenmesi Ve Yapılması</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
            
            
            
                                 <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" id="headingFifteen">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                              SİGORTA HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Sigorta Davaları Ve Tahkim Süreçlerin Yönetilmesi</li>
                                                <li>Sigorta Mevzuat Düzenlemeleri</li>
                                                <li>Yangın Ve Mali Sorumluluk Sigortası</li>
                                                <li>Hayat Kaza Ve Sağlık Sigortası</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
            
                                   <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-header" id="headingSixteen">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                              FİKRİ VE SINA MÜLKİYET HUKUKU
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Marka Patent Ve Endüstriyel Tasarım Ve Faydalı Modellerin Araştırılması Tescil, Korunma Ve Devir İşlemleri</li>
                                                <li>Markaya Ve Tasarıma Yönelik Danışmanlık Hizmetlerinin Verilmesi Ve Uyuşmazlıklardan Doğan Davaların Çözümü</li>
                                                <li>Ticari Sırların Kötüye Kullanılmasının Engellenmesi</li>
                                                <li>Lisans Sözleşmelerinin Hazırlanması</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
            
            
                                 <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" id="headingSeventeen">
                                          <h3 class="mb-0">
                                            <button class="btn btn-faaliyet" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                              İŞ VE SOSYAL GÜVENLİK ALANINDA DAVA VE<br/> ÖNLEYİCİ HUKUK HİZMETLERİ ÇALIŞMALARI
                                            </button>
                                          </h3>
                                        </div>
                                        <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <ol class="ol-class">
                                                <li>Kurum Ve İşveren İş Hukuku Danışmanlığı</li>
                                                <li>Derdest Ve Açılacak Davaların Takibi</li>
                                                <li>İşçi-İşveren Sözleşmelerinin Hazırlanması</li>
                                                <li>Kvkk Kapsamında İşçi-İşveren Sözleşmelerinin Düzenlenmesi</li>
                                                <li>Savunma, Tutanak, İhtar Ve Fesih Gibi Konularda Hazırlık Ve Danışmanlık Hizmeti,</li>
                                                <li>İş Kazası Davalarının Hukuki Ve Cezai Takibi</li>
                                                <li>Sulh İbra Ve Arabulucuk Süreçlerinin İşletilmesi</li>
                                            </ol>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                        
                    </div>
                </div>
            </div>
{% endblock %}
    