{% extends 'base.html' %}
{% block title %}  Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu {% endblock %}
{% block body %} 
          <div class="container-fluid"> 
                <div class="anasayfa-grid">
                    <div class="col-md-12">
                        
                        
                        <div class="general">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 baslik wow zoomIn">
                                        <h3> Çakır Legal Avukatlık ve Danışmanlık Hukuk Bürosu </h3> 
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 buton">
                                        <a href="{% url 'faaliyetalanlarimiz' %}" class="btn btn-header wow slideInLeft">Faaliyet Alanlarımız</a></div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 buton">
                                        <a href="{% url 'post:index' %}" class="btn btn-header wow slideInRight">Blog</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        
                        <div class="slider wow fadeIn">
                            <div class="container">
                                <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong">Kefalet Kooperatifi İşlemleri</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong2">Tüketici Hukuku</button></div>

                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong3">Esnaf Odaları Tahsil Ve Danışmanlık</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong4">Gayrimenkul Hukuku</button></div>

                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong5">Şirketler Ve Ticaret Hukuk Danışmanlık</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong6">Basın Ve Medya Hukuku</button></div>

                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong7">İdare Ve Vergi Hukuku</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong8">Aile Hukuku</button></div>


                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong9">Yabancılar ve Vatandaşlık Hukuku</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong10">Miras Hukuku</button></div>

                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong11">Sözleşme Danışmanlığı</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong12">Spor Hukuku</button></div>

                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong13">İcra İflas Çözümleri</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong14">Sigorta Hukuku</button></div>

                                        <div class="col-md-8 col-xs-8 col-sm-6 wow fadeInLeft">
                                        <button class="p-left" data-toggle="modal" data-target="#exampleModalLong15">Fikri Ve Sınai Mülkiyet Hukuku</button></div>
                                        <div class="col-md-4 col-xs-4 col-sm-6 wow fadeInRight">
                                        <button class="p-right" data-toggle="modal" data-target="#exampleModalLong16">İş Ve Sosyal Güvenlik Alanında Dava Ve Önleyici Hukuk Hizmeti Çalışmaları</button></div>                              
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle">Kefalet Kooperatifi İşlemleri</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Kurum Alacaklarına Yönelik Takip İşlemleri</li>
                                        <li>İpoteğin Paraya Çevrilmesi</li>
                                        <li>Fiili Haciz Ve Satış İşlemleri</li>
                                        <li>Borçlu Üyelere İlişkin İcra Önleyici Çalışma</li>
                                        <li>Kuruma Özel Geliştirilen Bilgisayar Programı İle Üyelerin Takibi</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle2">Tüketici Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Şirketlerin Tüketici Davalarının Takibi</li>
                                        <li>Gizli Ayıp, Ayıplı Mal, Ayıplı Hizmet Ve Kullanıcı Hatası Davalarının Takibi</li>
                                        <li>Tüketici Şikayetleri Konusunda Yasal Takip Ve Davaların Yapılması</li>
                                        <li>Tüketici Hakem Heyeti Başvuru Ve Takibi</li>
                                        <li>Araç Değer Kaybı İşlemlerinin Yasal Takibi</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle3">Esnaf Odaları Tahsil Ve Danışmanlık</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Borçlu Üyelere İlişkin Bildirim Ve Danışmanlık Hizmetleri</li>
                                        <li>İcra Takibi Yolu İle Kurum Üye Aidatlarının Tahsili</li>
                                        <li>İdari Başvuru Ve Takiplerin Yapılması</li>
                                        <li>Düzenli Danışmanlık  </li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle4" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle4">Gayrimenkul Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Yabancıların Mülk Edinmesi Konusunda Danışmanlık Hizmeti</li>
                                        <li>Alım-Satım, Ön Alım, Karz Sözleşmerinin Hazırlanması Ve Hukuki Denetimi</li>
                                        <li>Tapu İşlemlerinin Yasal Takibi</li>
                                        <li>Kiralama Sözleşmelerinin Yapılması</li>
                                        <li>Miras, Tereke Ve İntikal İşlerinin Yasal Takibi</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle5" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle5">Şirketler Ve Ticaret Hukuk Danışmanlık</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Şirket Kuruluş Ve Düzenleyici İşlemlerinin Yapılması</li>
                                        <li>Kamu Kurumları Huzurunda Şirketin Temsili</li>
                                        <li>Şirketlerin Genel Kurul İşlemlerinin Yapılması</li>
                                        <li>Şirket Hisse Satış Ve Devir İşlemleri</li>
                                        <li>Şirket Hissedarları Arasındaki Hukuki İhtilafların Çözümü</li>
                                        <li>İş Sözleşmelerinin Hazırlanması</li>
                                        <li>Franchise Sözleşmelerinin Hazırlanarak Marka Başvurularının Yapılması</li>
                                        <li>Düzenli Danışmanlık Hizmetleri</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle6" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle6">Basın Ve Medya Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Tekzip Ve Tüm Düzeltme Taleplerinin Yasal Takibi</li>
                                        <li>Basın Ve Medya Yolu İle İşlenen Suçların Cezai Ve Yasal Yollarla Takibinin Yapılması</li>
                                        <li>Reklam, Sponsorluk, Menajerlik, Oyuncu Gibi Şirketin İhtiyacına Uygun Sözleşmelerin Hazırlanması,</li>
                                        <li>Rtük Ve İdari Merciler Huzurunda Yasal Takipler</li>
                                        <li>Sosyal Medya Üzerinden Kişilik Hakları Saldırıya Uğrayanlara İlişkin Hukuki Yardım İşlemleri</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle7" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle7">İdare Ve Vergi Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Şirket Ve Kurumların Tam Yargı Ve İptal Davalarının Takibi</li>
                                        <li>Kamulaştırma Davalarının Takibi</li>
                                        <li>İdare Ve Kişiler Arasında Yasal Problemlerin Çözümüne İlişkin Yasal Takip İşlemleri</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle8" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle8">Aile Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Boşanma Davalarının Yürütülmesi</li>
                                        <li>Anlaşmalı Boşanma Protokollerinin Hazırlanması Ve Yürütülmesi</li>
                                        <li>Nafaka Arttırım-Azaltım Ve Takibine İlişkin Dava Ve Yasal İşlemlerin Takibi</li>
                                        <li>Boşanmadan Doğan Mal Varlığının Tasfiyesi İşlemlerinin Yürütülmesi</li>
                                        <li>Evlat Edinmeden Kaynaklanan Sorunların Çözümü</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle9" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle9">Yabancılar ve Vatandaşlık Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Türkiye’de yaşamak isteyen yabancıların oturma izni başvurularının yapılması takibinin sağlanması ve uzatım işlemlerinin yapılması</li>
                                        <li>Gerçek ve Tüzel Kişilerin Mülk Edinimleri Hakkındaki İşlemlerin Yasal Takibi</li>
                                        <li>Türk Vatandaşlığını Kazanmak isteyen Yabancıların Vatandaşlık Başvuru İşlemlerinin Yapılması, Takibi ve Sonuçlandırılması</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle9" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle10">Miras Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Vasiyetname Hazırlanması</li>
                                        <li>Ölünceye Kadar Bakma Sözleşmesi Hazırlanması</li>
                                        <li>Mirasın Reddi Davası</li>
                                        <li>Treke Tespit Davası</li>
                                        <li>Ortaklığın Giderilmesi Davası</li>
                                        <li>Ecrimisil Davası</li>
                                        <li>Vakıf Kurma Ve Ölüme Bağlı Tasarruflar</li>
                                        <li>Muris Muvazaası Davası</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
            
                            <div class="modal fade" id="exampleModalLong11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle11" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle11">Sözleşme Danışmanlığı</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Müvekkil Talebi Yönünde İhtiyaca Dönük Dokümanların Hazırlanması</li>
                                        <li>Hizmet Ve Satın Alma Sözleşmelerinin Hazırlanması</li>
                                        <li>Bayilik Ve Franchise Sözleşmelerinin Hazırlanması</li>
                                        <li>Lisanslar İle İlgili Anlaşmaların Hazırlanması</li>
                                        <li>İşe Alım İle İlgili Anlaşmaların İmzalanması</li>
                                        <li>Şirket Sözleşmelerin Kişisel Verilerin Korunması Ve Saklanması Kanunu Çerçevesinde Yerinden Düzenlenmesi</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle12" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle12">Spor Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Sponsorluk Sözleşmesi</li>
                                        <li>Sporcu Ve Klüb Arasındaki Sözleşmelerin Düzenlenmesi</li>
                                        <li>Sporcu Alacaklarının Yasal Takibi</li>
                                        <li>Yazılı Ve Görsel Basında Kişilik Haklarının Korunması</li>
                                        <li>CAS, FIFA, UEFA Nezdinde Sporcu Temsili</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                             <div class="modal fade" id="exampleModalLong13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle13" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle13">İcra İflas Çözümleri</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Alacakların Takibine Yönelik Takip İşlemlerinin Yapılması</li>
                                        <li>Fiili Haciz İşlemleri</li>
                                        <li>Sulh Ve İbra Protokollerinin Hazırlanması</li>
                                        <li>İcra Dosyası Bağı İle İlgili Ceza Dosyalarının Açılması Ve Takibi</li>
                                        <li>Borç Yapılandırmalarının İncelenmesi Ve Yapılması</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
            
                            <div class="modal fade" id="exampleModalLong14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle14" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle14">Sigorta Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Sigorta Davaları Ve Tahkim Süreçlerin Yönetilmesi</li>
                                        <li>Sigorta Mevzuat Düzenlemeleri</li>
                                        <li>Yangın Ve Mali Sorumluluk Sigortası</li>
                                        <li>Hayat Kaza Ve Sağlık Sigortası</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
            
                            <div class="modal fade" id="exampleModalLong15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle15" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle15">Fikri Ve Sınai Mülkiyet Hukuku</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Marka Patent Ve Endüstriyel Tasarım Ve Faydalı Modellerin Araştırılması Tescil, Korunma Ve Devir İşlemleri</li>
                                        <li>Markaya Ve Tasarıma Yönelik Danışmanlık Hizmetlerinin Verilmesi Ve Uyuşmazlıklardan Doğan Davaların Çözümü</li>
                                        <li>Ticari Sırların Kötüye Kullanılmasının Engellenmesi</li>
                                        <li>Lisans Sözleşmelerinin Hazırlanması</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        
            
                        
                            <div class="modal fade" id="exampleModalLong16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle16" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle16">İş Ve Sosyal Güvenlik Alanında Dava Ve Önleyici Hukuk Hizmeti Çalışmaları</h2>
                                  </div>
                                  <div class="modal-body">
                                    <ol class="ol-class-ana">
                                        <li>Kurum Ve İşveren İş Hukuku Danışmanlığı</li>
                                        <li>Derdest Ve Açılacak Davaların Takibi</li>
                                        <li>İşçi-İşveren Sözleşmelerinin Hazırlanması</li>
                                        <li>Kvkk Kapsamında İşçi-İşveren Sözleşmelerinin Düzenlenmesi</li>
                                        <li>Savunma, Tutanak, İhtar Ve Fesih Gibi Konularda Hazırlık Ve Danışmanlık Hizmeti,</li>
                                        <li>İş Kazası Davalarının Hukuki Ve Cezai Takibi</li>
                                        <li>Sulh İbra Ve Arabulucuk Süreçlerinin İşletilmesi</li>
                                    </ol>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        
                    </div>
                </div>
            </div>
{% endblock %}
    